@use "sass:list";

// CONTENT:
// Colors
// Fonts
// Transitions
// Elements
// Other

// Colors
$text-color: #222222;
$bottom-text-color: #222224;
$clickable-text-color: #6f6e6e;
$light-text-color: #fbfbfb;

$light-color: #ffffff;
$accent-color: #f16d7f;
$shadow-color: rgba(0, 0, 0, 0.21);

$category-background-color: rgba(33, 22, 22, 0.7);
$items-button-color: #f26376;
$subscribe-input-color: #e1e1e1;
$subscribe-btn-color1: #e05c6e;
$subscribe-btn-color2: #905991;

$page-border-color: #eaeaea;
$page-border-color2: #ebebeb;
$page-accent-color: #ef5b70;

// Fonts
@mixin font($font-weight, $font-size, $line-height) {
  font-weight: $font-weight;
  font-size: $font-size * 1px;
  line-height: $line-height * 1px;
}

@mixin font314 {
  @include font(300, 14, 17);
}

@mixin font414 {
  @include font(400, 14, 17);
}

@mixin font724 {
  @include font(700, 24, 30);
}

// Transitions
@mixin trans($properties, $duration) {
  transition: {
    property: $properties;
    duration: $duration;
    timing-function: ease-in-out;
  }
}

@mixin trans-form {
  @include trans(transform, 0.1s);
}

@mixin trans-form3 {
  @include trans(transform, 0.3s);
}

@mixin trans-bg {
  @include trans(background-color, 0.1s);
}

// Elements
@mixin header-icon($image, $height, $width) {
  background-image: url("../img/#{$image}");
  height: $height;
  width: $width;
}

@mixin accent-btn {
  @include font(400, 16, 19);
  @include trans("background-color, color", 0.1s);

  display: block;
  border: 1px solid #ff6a6a;

  color: $items-button-color;
  background-color: $light-color;

  &:hover {
    color: $light-color;
    background-color: $items-button-color;
  }
}

@mixin dropdown-menus {
  @include font414;
  display: flex;
  justify-content: space-between;
  color: $clickable-text-color;
}

@mixin details-summary($dropdown-icon-url) {
  display: flex;
  align-items: center;
  cursor: pointer;

  &::-webkit-details-marker {
    display: none;
  }

  &::after {
    content: url($dropdown-icon-url);
  }
}

@mixin checkbox {
  position: absolute;
  visibility: hidden;
  left: -999999px;
}

// Other
@mixin page($name) {
  @if not & {
    @error "This mixin has to be nested!";
  }

  $pages: product, catalog;
  @if not list.index($pages, $name) {
    @error "Page with this name doesn't exist!";
  }

  &_#{$name}-page {
    @content;
  }
}

@mixin fill(
  $path-element-suffix,
  $container-element-suffix,
  $default-color,
  $hover-color
) {
  @if not & {
    @error "This mixin has to be nested!";
  }

  &#{$path-element-suffix} {
    fill: $default-color;
  }

  &#{$container-element-suffix}:hover &#{$path-element-suffix} {
    fill: $hover-color;
  }
}
