@use "sass:color";
@use "vars" as *;

// CONTENT:
// Header
// Breadcrumbs
// Filter
// Product
// Top
// Categories
// Items
// Features
// Subscribe
// Footer
// Animation
// Media queries
// Tablets
// Mobile

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  color: $text-color;
}

label:hover {
  cursor: pointer;
}

.center {
  max-width: 71.25vw;
  margin: 0 auto;
}

// Header
.header {
  position: relative;
  height: 75px;
  background-color: $text-color;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  &__left,
  &__right {
    display: flex;
    align-items: end;
  }

  &__left {
    gap: 41px;
    margin: 18px 0 19px;
  }

  &__right {
    gap: 33px;
    margin: 18px 0 18px;
  }

  &__link {
    @include trans-form;
    display: block;
    border: none;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1);
  }

  &__link:hover {
    transform: scale(1.1);
  }

  &__logo {
    @include header-icon("logo.svg", 38px, 44px);
  }

  &__search {
    @include header-icon("search.svg", 26.79px, 26px);
  }

  &__menu {
    @include header-icon("menu.svg", 23px, 32px);
  }

  &__profile {
    @include header-icon("profile.svg", 29px, 29px);
  }

  &__cart {
    @include header-icon("cart.svg", 29px, 32px);
  }

  &__menu-list {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
  }
}

.cart {
  position: relative;

  &::after {
    display: block;
    content: "5";
    @include font(400, 12, 14);
    position: absolute;
    top: -8px;
    right: -9px;

    border-radius: 50%;
    width: 19px;
    height: 19px;

    color: $light-color;
    background-color: $accent-color;
    text-align: center;
  }
}

.show-menu-list {
  display: block;
}

.menu-list {
  display: grid;
  gap: 20px;

  @include page(catalog) {
    gap: 18.5px;
    padding: 46px 17px 16px;
    margin-top: -30px;
    margin-left: -17px;
  }

  &,
  &__section {
    list-style-type: none;
  }

  &__container {
    padding: 32px 33px;
    width: 232px;

    background-color: $light-color;
    box-shadow: 6px 4px 35px $shadow-color;
    z-index: 10;
  }

  &__header {
    @include font(700, 14, 17);
    margin-bottom: 24px;
  }

  &__summary {
    display: block;

    &::-webkit-details-marker {
      display: none;
    }
  }

  &__section {
    display: grid;
    gap: 11px;

    @include page(catalog) {
      margin-top: 24.5px;
    }
  }

  &__section-header {
    @include font414;
    margin-bottom: 12px;
    color: $accent-color;

    @include page(catalog) {
      border-left: 5px solid $page-accent-color;
      border-bottom: 1px solid $page-border-color2;
      margin-bottom: 0;
      padding: 11.5px 11px;
      cursor: pointer;
    }
  }

  &__section-item {
    @include trans-form;
    @include font414;
    color: $clickable-text-color;
    padding-left: 23px;
    transform: translateX(0) scale(1);
  }

  &__section-item:hover {
    transform: translateX(5%) scale(1.1);
  }

  &__link {
    @include font414;
    color: $clickable-text-color;
    text-decoration: none;
  }

  &__section-item:hover .menu-list__link {
    text-decoration: underline;
  }

  &__checkbox {
    @include checkbox;
  }

  &__checkbox:checked + &__label {
    color: $page-accent-color;
  }
}

// Breadcrumbs
.breadcrumbs {
  background-color: #f8f3f4;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__heading {
    margin: 60px 0;
  }

  &__links,
  &__link {
    color: #636363;
  }

  &__link {
    @include font314;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &_main,
    &_current {
      color: $accent-color;
    }

    &_main {
      @include font724;
    }

    &_current {
      font-weight: bold;
    }
  }
}

// Filter
.filter {
  &__wrapper {
    display: flex;
    gap: 20vw;
    margin: 51px 0;
  }

  &__main-filter {
    justify-self: start;
  }

  &__filters {
    @include dropdown-menus;
    gap: 28px;
  }

  &__filter {
    position: relative;
  }

  &__summary {
    @include details-summary("../img/dropdown.svg");
    gap: 10px;
  }

  &__list {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 5px;
    padding: 9px 9px 12px;
    width: 79px;
    z-index: 10;
    list-style: none;
    background-color: #fff;
    box-shadow: 6px 4px 35px 0px $shadow-color;
  }

  &__checkbox {
    @include checkbox;
  }

  &__checkbox-svg {
    margin-right: 9px;
  }

  &__checkbox:checked + &__label &__checkbox-svg-path {
    fill: $page-accent-color;
  }
}

.main-filter {
  @include dropdown-menus;
  position: relative;
  color: #000;

  &[open] {
    color: $page-accent-color;
  }

  &__summary {
    @include details-summary("../img/main-filter.svg");
    gap: 11px;
    z-index: 30;
  }

  &[open] &__summary {
    @include details-summary("../img/main-filter-open.svg");
  }

  &__menu-list {
    position: absolute;
    width: 360px;
    z-index: 20;
    background: #fff;
    box-shadow: 6px 4px 35px 0px $shadow-color;
  }
}

// Product
.prod-images {
  @include fill(__nav-btn-path, __nav-btn, #000, $accent-color);
  position: relative;

  border: 1px $page-border-color solid;
  height: 777px;
  background-color: #f7f7f7;

  &__img {
    $width: 37.3vw;
    @include trans(scale, 0.3s);

    position: absolute;
    top: 11px;
    left: calc(50% - ($width / 2));

    width: $width;
    scale: 1;

    &:hover {
      scale: 1.05;
    }
  }

  &__nav-btn {
    position: absolute;
    top: 50%;

    border: none;
    width: 47px;
    height: 47px;

    background-color: rgba(42, 42, 42, 0.149);
    transform: translateY(-50%);
    cursor: pointer;

    &_prev {
      left: 0;
    }

    &_next {
      right: 0;
    }
  }
}

.prod-info {
  @include fill(
    __img-path,
    __add-btn,
    $page-accent-color,
    $light-color
  );

  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: -65px;

  border: 1px $page-border-color solid;
  padding: 64.5px 0;
  width: 100%;
  background-color: $light-color;

  &__wrapper {
    position: relative;
    height: 536px;
  }

  &__decorative-line {
    &1 {
      margin: 12px 0;
      height: 3px;
      width: 63px;
      background-color: $page-accent-color;
    }

    &2 {
      margin: 65px 0;
      height: 2px;
      width: 40vw;
      background-color: $page-border-color;
    }
  }

  &__category {
    @include font314;
    color: $accent-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__name {
    @include font(300, 18, 22);
    margin-bottom: 48.5px;
    color: #4d4d4d;
  }

  &__description {
    @include font314;
    width: 34.5vw;
    text-align: center;
  }

  &__price {
    @include font(300, 24, 29);
    margin-top: 32px;
    color: $page-accent-color;
  }

  &__options {
    @include dropdown-menus;
    gap: 23px;
  }

  &__option-summary {
    @include details-summary("../img/dropdown.svg");
    gap: 9px;
  }

  &__add-btn {
    @include accent-btn;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;

    margin-top: 63.5px;
    padding: 14.5px 56.57px 8.5px 23.5px;
    cursor: pointer;
  }

  &__img-path {
    @include trans(fill, 0.1s);
  }
}

// Top
.top {
  display: flex;
  align-items: start;
  height: fit-content;
  background-color: #f1e4e6;

  &__img {
    @include trans-form3;
    display: block;
    width: 50%;
    margin-right: 4vw;
    transform: translateX(0);
  }

  &__img:hover {
    transform: translateX(-2%);
  }

  &__heading {
    margin-top: 18vw;
  }
}

.top-heading {
  @include trans-form3;
  display: grid;
  column-gap: 16px;
  grid-template-areas:
    "decoration first-line"
    "decoration second-line";
  transform: translateX(0);

  &:hover {
    transform: translateX(2%);
  }

  &__decoration {
    grid-area: decoration;
    height: 92px;
    width: 12px;
    background-color: $accent-color;
  }

  &__first-line {
    @include font(900, 48, 58);
    grid-area: first-line;
  }

  &__second-line {
    @include font(700, 32, 38);
    grid-area: second-line;
  }

  &__second-line_accent {
    color: $accent-color;
  }
}

// Categories
.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 65px 0 96px;

  &__category {
    display: grid;
    aspect-ratio: 18 / 13;
    background: {
      size: contain;
      repeat: no-repeat;
    }
    text-decoration: none;
  }

  &__category_women {
    background-image: url("../img/women.jpg");
  }

  &__category_men {
    background-image: url("../img/men.jpg");
  }

  &__category_kids {
    background-image: url("../img/kids.jpg");
  }

  &__category_accessories {
    grid-column: span 3;
    aspect-ratio: 57 / 9;
    background-image: url("../img/accessories.jpg");
  }
}

.category {
  @include trans-bg;
  display: grid;
  justify-items: center;
  align-content: center;
  background-color: $category-background-color;

  &:hover {
    background-color: color.adjust(
      $color: $category-background-color,
      $alpha: -0.2
    );
  }

  &__subheading {
    @include font(400, 16, 19);
    color: $light-color;
  }

  &__heading {
    @include font724;
    color: $accent-color;
  }
}

// Items
.items {
  padding-bottom: 60px;

  @include page(product) {
    padding: 128px 0;
  }

  @include page(catalog) {
    padding: 13px 0 96px;
  }

  &__wrapper {
    display: grid;
    justify-items: center;
  }

  &__header {
    display: grid;
    justify-items: center;
    align-content: center;
    margin-bottom: 48px;
  }

  &__heading {
    @include font(400, 30, 36);
    margin-bottom: 6px;
  }

  &__subheading {
    @include font414;
    color: #9f9f9f;
  }

  &__main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 25px;
    margin-bottom: 48px;

    @include page(product) {
      margin: 0;
    }
  }

  &__button {
    @include accent-btn;
    padding: 14px 39px 14px;
    text-decoration: none;
  }

  &__pagination {
    margin-top: 48px;
  }
}

.item {
  background-color: #f8f8f8;

  &__img-wrapper {
    position: relative;
  }

  & &__img-wrapper::after {
    @include trans("background-color, opacity", 0.2s);
    display: block;
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(58, 56, 56, 0.86);
    opacity: 0;
  }

  &:hover &__img-wrapper::after {
    opacity: 1;
  }

  &__add-btn {
    @include font414;
    @include trans("opacity, background-color, color", 0.2s);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;

    border: 1px solid $light-color;
    width: 139px;
    height: 44px;
    background-color: transparent;

    vertical-align: top;
    color: $light-color;

    transform: translate(-50%, -50%);
    cursor: pointer;
    opacity: 0;

    &:hover {
      background-color: $light-color;
      color: rgba(58, 56, 56, 0.86);
    }
  }

  &:hover &__add-btn {
    opacity: 1;
  }

  &__cart-icon {
    height: 24px;
    width: 26px;
  }

  &__cart-icon-path {
    @include trans(fill, 0.2s);
  }

  @include fill(__cart-icon-path, __add-btn, #e8e8e8, rgba(58, 56, 56, 0.86));

  &__img {
    display: block;
    width: 100%;
  }

  &__link {
    display: block;
    text-decoration: none;
  }

  &__text {
    display: grid;
    gap: 16px;
    padding: 24px 16px;
  }

  &__name {
    @include font(400, 13, 16);
    color: #000;
  }

  &__description {
    @include font314;
    color: #5d5d5d;
  }

  &__price {
    @include font(400, 16, 19);
    color: $accent-color;
  }
}

.pagination {
  @include font(300, 16, 19);
  display: flex;
  align-items: center;
  border: 1px solid $page-border-color2;
  border-radius: 3px;
  padding: 12px 16px 13px;
  color: #c4c4c4;

  &__link {
    text-decoration: none;
    color: #c4c4c4;

    &:hover,
    &_active {
      color: $page-accent-color;
    }
  }

  &__link:hover &__nav-icon {
    fill: $page-accent-color;
  }

  &__break {
    visibility: hidden;

    &_visible {
      visibility: visible;
    }
  }
}

// Features
.features {
  padding: 104px 0;
  background-color: $bottom-text-color;
  color: $light-text-color;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
}

.feature {
  display: grid;
  justify-items: center;
  gap: 16px;

  &__img {
    @include trans-form;
    transform: scale(1);
  }

  &:hover &__img {
    transform: scale(1.1);
  }

  &__heading {
    @include font(400, 20, 24);
  }

  &__description {
    @include font314;
    text-align: center;
  }
}

// Subscribe
.subscribe {
  background: {
    image: url("../img/subscribe_background.png");
    position: center center;
    size: cover;
  }
  color: $bottom-text-color;
  text-align: center;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 448px;
  }

  &__left {
    max-width: 359.45px;
  }

  &__img {
    @include trans-form3;
    width: 96px;
    transform: scale(1);
  }

  &__left:hover &__img {
    transform: scale(1.1);
  }

  &__img-caption {
    @include font(400, 20, 24);
    margin-top: 30px;
  }

  &__img-caption_italic {
    font-style: italic;
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    @include font724;
  }

  &__subheading {
    @include font(400, 18, 30);
    text-align: center;
  }

  &__form {
    display: flex;
    margin-top: 32px;
  }

  &__input,
  &__btn {
    @include font414;
    flex: 1;
    border: none;
    height: 49px;
  }

  &__input {
    @include trans-bg;
    padding: 0 22px;
    border-radius: 22px 0 0 22px;

    background-color: $subscribe-input-color;
    color: $bottom-text-color;
  }

  &__input:hover {
    background-color: color.adjust(
      $subscribe-input-color,
      $red: +16,
      $green: +16,
      $blue: +16
    );
  }

  &__btn {
    border-radius: 0 22px 22px 0;
    padding: 0 22px;

    background-color: $subscribe-btn-color1;
    color: $light-color;
    cursor: pointer;

    animation: {
      duration: 0.5s;
      name: subscribe;
      iteration-count: infinite;
      direction: alternate;
      timing-function: ease-in-out;
    }

    @keyframes subscribe {
      from {
        background-color: $subscribe-btn-color1;
        color: $light-color;
      }
      to {
        background-color: $subscribe-btn-color2;
        color: $light-color;
      }
    }
  }

  &__btn:hover {
    background-color: $subscribe-btn-color2;
    color: $light-color;
    animation: none;
  }

  &__input::placeholder {
    opacity: 0.67;
  }

  &__input:hover + &__btn {
    animation: none;
  }
}

// Footer
.footer {
  padding: 24px 0;
  background-color: $bottom-text-color;
  color: $light-text-color;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.socials {
  @include fill(__img-path, __link, #000, $light-color);
  display: flex;
  gap: 7.29px;

  &__link {
    @include trans-bg;

    display: grid;
    align-content: center;
    justify-content: center;

    height: 32px;
    width: 32px;

    background-color: $light-color;
    text-decoration: none;
  }

  &__link:hover {
    background-color: $accent-color;
  }

  &__img-path {
    @include trans(fill, 0.1s);
  }
}

// Media queries
// Tablets
@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    &__wrapper {
      padding: 0 17px;
    }

    &__left {
      gap: 25px;
    }

    &__cart {
      margin-left: 17px;
    }
  }

  .center {
    max-width: 95.64vw;
  }

  .top-heading {
    &__decoration {
      left: 425px;

      height: 92px;
      width: 12px;
    }

    &__first-line {
      @include font(900, 44, 53);
    }

    &__second-line {
      @include font724;
    }
  }

  .categories {
    gap: 19px;
    padding-bottom: 110px;
  }

  .items {
    &__heading {
      margin-bottom: 3.3px;
    }

    &__header {
      margin-bottom: 72.74px;
    }

    &__main {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
      margin-bottom: 32.48px;
    }
  }

  .features {
    padding: 48.16px 0 64px;

    &__wrapper {
      flex-direction: column;
      align-items: center;
      gap: 48.47px;
    }
  }

  .feature {
    width: 46.875vw;
  }

  .subscribe {
    padding: 64px 0 140px;

    &__wrapper {
      flex-direction: column;
      gap: 48px;
    }

    &__heading {
      line-height: 39px;
    }

    &__subheading {
      line-height: 29px;
    }

    &__form {
      margin-top: 22.15px;
    }
  }

  .footer__wrapper {
    padding: 0 14px;
  }
}

// Mobile
@media (max-width: 767px) {
  .header {
    &__wrapper {
      padding: 0 8px;
    }

    &__left {
      align-items: baseline;
    }

    &__right {
      align-items: center;
    }

    &__left {
      gap: 41px;
    }

    &__profile,
    &__cart {
      display: none;
    }
  }

  .center {
    max-width: 95.73vw;
  }

  .top {
    justify-content: center;
    align-items: center;
    height: 96.8vw;

    &__img {
      display: none;
    }

    &__heading {
      margin-top: 0;
    }
  }

  .top-heading {
    align-items: center;

    &__decoration {
      height: 61px;
      width: 12px;
    }

    &__first-line {
      @include font(900, 38, 46);
    }

    &__second-line {
      @include font(700, 20, 24);
      margin-top: -4px;
    }
  }

  .categories {
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
    padding-bottom: 64px;

    &__category_accessories {
      grid-column: 1;
      height: 111px;
      aspect-ratio: initial;
      background: {
        size: cover;
        position: center center;
      }
    }
  }

  .items {
    &__heading {
      margin-bottom: 3.3px;
    }

    &__header {
      margin-bottom: 64.7px;
    }

    &__main {
      grid-template-columns: repeat(1, 1fr);
      gap: 16px;
      margin-bottom: 40.61pxpx;
    }
  }

  .item {
    &__text {
      gap: 12.62px;
    }

    &__price {
      margin-top: 5.33px;
    }
  }

  .features {
    padding: 48px 0 81px;

    &__wrapper {
      flex-direction: column;
      align-items: center;
      gap: 46.75px;
    }
  }

  .feature {
    width: initial;
  }

  .subscribe {
    padding: 64px 0 110px;

    &__wrapper {
      flex-direction: column;
      gap: 48px;
    }

    &__img {
      width: 91.73px;
    }

    &__heading {
      line-height: 37px;
    }

    &__subheading {
      line-height: 21px;
    }

    &__form {
      margin-top: 22.15px;
    }

    &__input,
    &__btn {
      padding: 0 18px;
      height: 47px;
    }
  }

  .footer {
    padding: 43px 0 9px;

    &__wrapper {
      flex-direction: column-reverse;
      align-items: center;
      gap: 40px;
    }
  }
}
