@use "vars" as *;

.items {
  padding-bottom: 60px;

  @include page(product) {
    padding: 128px 0;
  }

  @include page(catalog) {
    padding: 13px 0 96px;
  }

  &__wrapper {
    display: grid;
    justify-items: center;
  }

  &__header {
    display: grid;
    justify-items: center;
    align-content: center;
    margin-bottom: 48px;
  }

  &__heading {
    @include font(400, 30, 36);
    margin-bottom: 6px;
  }

  &__subheading {
    @include font414;
    color: #9f9f9f;
  }

  &__main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 25px;
    margin-bottom: 48px;

    @include page(product) {
      margin: 0;
    }
  }

  &__button {
    @include accent-btn;
    padding: 14px 39px 14px;
    text-decoration: none;
  }

  &__pagination {
    margin-top: 48px;
  }
}

.item {
  background-color: #f8f8f8;

  &__img-wrapper {
    position: relative;
  }

  & &__img-wrapper::after {
    @include trans("background-color, opacity", 0.2s);
    display: block;
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(58, 56, 56, 0.86);
    opacity: 0;
  }

  &:hover &__img-wrapper::after {
    opacity: 1;
  }

  &__add-btn {
    @include font414;
    @include trans("opacity, background-color, color", 0.2s);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;

    border: 1px solid $light-color;
    width: 139px;
    height: 44px;
    background-color: transparent;

    vertical-align: top;
    color: $light-color;

    transform: translate(-50%, -50%);
    cursor: pointer;
    opacity: 0;

    &:hover {
      background-color: $light-color;
      color: rgba(58, 56, 56, 0.86);
    }
  }

  &:hover &__add-btn {
    opacity: 1;
  }

  &__cart-icon {
    height: 24px;
    width: 26px;
  }

  &__cart-icon-path {
    @include trans(fill, 0.2s);
  }

  @include fill(__cart-icon-path, __add-btn, #e8e8e8, rgba(58, 56, 56, 0.86));

  &__img {
    display: block;
    width: 100%;
  }

  &__link {
    display: block;
    text-decoration: none;
  }

  &__text {
    display: grid;
    gap: 16px;
    padding: 24px 16px;
  }

  &__name {
    @include font(400, 13, 16);
    color: #000;
  }

  &__description {
    @include font314;
    color: #5d5d5d;
  }

  &__price {
    @include font(400, 16, 19);
    color: $accent-color;
  }
}

.pagination {
  @include font316;
  display: flex;
  align-items: center;
  border: 1px solid $page-border-color2;
  border-radius: 3px;
  padding: 12px 16px 13px;
  color: #c4c4c4;

  &__link {
    text-decoration: none;
    color: #c4c4c4;

    &:hover,
    &_active {
      color: $page-accent-color;
    }
  }

  &__link:hover &__nav-icon {
    fill: $page-accent-color;
  }

  &__break {
    visibility: hidden;

    &_visible {
      visibility: visible;
    }
  }
}
